* {
  box-sizing: border-box;
  /*border: 1px solid black;*/
}

/*BODY*/
body {
  text-align: center;
  background: url(https://i.imgur.com/QkqCmu9.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
}

/*MAIN*/
h1 {
  font-size: 80px;
  font-family: 'Monoton', cursive;
  color: black;
  font-weight: 100;
  margin: 10px;
}

/*INSTRUCTION PAGE*/
.instructionPage {
  height: 60vh;
  border: 5px dotted black;
}

.instructions {
  font-family: 'Monoton', cursive;
  font-size: 60px;
  font-weight: 400;
  margin: 20px;
}

.explanationOfGame {
  font-family: 'Syncopate', sans-serif;
  font-size: 20px;
  font-weight: 400;
  width: 600px;
  margin: 0 auto;
  text-align: left;
}

.beginButton {
  padding: 20px 40px;
  margin-top: 20px;
  background-color: rgba(255, 141, 10, 0.46);
  font-family: 'Syncopate', sans-serif;
  font-size: 25px;
  font-weight: bold;
  border: 1px solid black;
}

.beginButton:hover {
  background-color: rgba(255, 10, 218, 0.46);
}
/*LEVEL 1*/
.levelOnePage {
  display: none;
  height: 60vh;
  border: 5px dotted black;
}

.colorWordWithDifferentColor {
  font-size: 60px;
  font-family: 'Monoton', cursive;
  font-weight: 100;
  color: rgba(250, 0, 0, 1);
  margin: 15px 150px;
  display: flex;
  justify-content: center;
  align-items:center;
}


.timer {
  font-family: 'Syncopate', sans-serif;
  font-size: 20px;
  margin: 10px 220px;
  padding-top: 10px;
}

.colorsForPlayerToPickFrom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.colorsForPlayerToPickFrom li {
  font-family:'Syncopate', sans-serif;
  font-size: 25px;
  width: calc(30% - 3px);
  margin: 15px 12px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.41);
  border: 2px solid black;
}

.gameRounds {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gameRounds li {
  height: 25px;
  width: 25px;
  margin: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.41);
  border: 2px solid black;

}

/*TRY AGAIN PAGE*/
.tryAgainPage {
  display: none;
  height: 60vh;
  border: 5px dotted black;
}

.playerTryAgain {
  font-family: 'Monoton', cursive;
  font-size: 60px;
  font-weight: 400;
  margin: 20px;
}

.startAgainButton {
  padding: 20px 40px;
  margin-top: 40px;
  background-color: rgba(255, 141, 10, 0.46);
  font-family: 'Syncopate', sans-serif;
  font-size: 25px;
  font-weight: bold;
  border: 1px solid black;
}

.startAgainButton:hover {
  background-color: rgba(255, 10, 218, 0.46);
}

.homepageFromTryAgainPage {
  padding: 20px 40px;
  margin-top: 40px;
  background-color: rgba(255, 141, 10, 0.46);
  font-family: 'Syncopate', sans-serif;
  font-size: 25px;
  font-weight: bold;
  border: 1px solid black;
}

.homepageFromTryAgainPage:hover{
  background-color: rgba(255, 10, 218, 0.46);
}

/*EXPLANATION OF LEVELS*/
.levelExplanation {
  font-family: 'Syncopate', sans-serif;
  font-size: 25px;
  margin: 0 auto;
  padding-top: 10px;
  max-width: 500px;
}

/*PLAYER PASSED LEVEL 1*/
.playerPassedLevelOne {
  display: none;
  height: 60vh;
  border: 5px dotted black;
}

.playerHasWon {
  font-family: 'Monoton', cursive;
  font-size: 70px;
  font-weight: 400;
  margin: 50px 20px 30px 20px;
  -webkit-animation-name:pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
  25% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}

@keyframes pulse {
  25% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
}

.finalScoreTime {
  font-family: 'Syncopate', sans-serif;
  font-size: 25px;
  margin: 10px 100px;
  padding-top: 10px;
}

.playLevelTwoButton {
  padding: 20px 40px;
  margin-top: 40px;
  background-color: rgba(255, 141, 10, 0.46);
  font-family: 'Syncopate', sans-serif;
  font-size: 25px;
  font-weight: bold;
  border: 1px solid black;
}

.playLevelTwoButton:hover {
  background-color: rgba(255, 10, 218, 0.46);
}

/*LEVEL TWO*/
.levelTwoPage {
  display: none;
  height: 60vh;
  border: 5px dotted black;
}

.level-2-animation {
  animation: shake 0.3s infinite alternate;
  -webkit-transform: translate(0, 50px);
  /*transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;*/
}

@keyframes shake {
  25% {
    transform: translate3d(-1px, 0, 0);
  }

  50% {
    transform: translate3d(2px, 0, 0);
  }

  75% {
    transform: translate3d(-4px, 0, 0);
  }

  100% {
    transform: translate3d(4px, 0, 0);
  }
}

/*PLAYER PASSED LEVEL TWO*/
.playerPassedLevelTwo {
  display: none;
  height: 60vh;
  border: 5px dotted black;
}

.yayPlayerWon {
  font-family: 'Monoton', cursive;
  font-size: 70px;
  font-weight: 400;
  margin: 50px 20px 30px 20px;
  -webkit-animation-name:pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
  25% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}

@keyframes pulse {
  25% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
}

.playLevelThreeButton {
  padding: 20px 40px;
  margin-top: 40px;
  background-color: rgba(255, 141, 10, 0.46);
  font-family: 'Syncopate', sans-serif;
  font-size: 25px;
  font-weight: bold;
  border: 1px solid black;
}

.playLevelThreeButton:hover {
  background-color: rgba(255, 10, 218, 0.46);
}

/*LEVEL THREE*/
.levelThreePage {
  display: none;
  height: 60vh;
  border: 5px dotted black;
}

/*PLAYER PASSED LEVEL THREE*/
.playerPassedLevelThree {
  display: none;
  height: 60vh;
  border: 5px dotted black;
}

.playerWonLevelThree {
  font-family: 'Monoton', cursive;
  font-size: 70px;
  font-weight: 400;
  margin: 50px 20px 30px 20px;
  -webkit-animation-name:pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
  25% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}

@keyframes pulse {
  25% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
}

.playLevelFourButton {
  padding: 20px 40px;
  margin-top: 40px;
  background-color: rgba(255, 141, 10, 0.46);
  font-family: 'Syncopate', sans-serif;
  font-size: 25px;
  font-weight: bold;
  border: 1px solid black;
}

.playLevelFourButton:hover {
  background-color: rgba(255, 10, 218, 0.46);
}

/*LEVEL 4*/
.levelFourPage {
  display: none;
  height: 60vh;
  border: 5px dotted black;
}

/*PLAYER PASSED LEVEL 4*/
.playerPassedLevelFour {
  display: none;
  height: 60vh;
  border: 5px dotted black;
}

.playerWonLevelFour {
  font-family: 'Monoton', cursive;
  font-size: 40px;
  font-weight: 400;
  margin: 50px 20px 30px 20px;
  -webkit-animation-name:pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
  25% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}

@keyframes pulse {
  25% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
}

.playLevelFiveButton {
  padding: 20px 40px;
  margin-top: 40px;
  background-color: rgba(255, 141, 10, 0.46);
  font-family: 'Syncopate', sans-serif;
  font-size: 25px;
  font-weight: bold;
  border: 1px solid black;
}

.playLevelFiveButton:hover {
  background-color: rgba(255, 10, 218, 0.46);
}

/*LEVEL 5*/
.levelFivePage {
  display: none;
  height: 60vh;
  border: 5px dotted black;
}

.levelFiveColorWordWithDifferentColor {
  font-size: 60px;
  font-family: 'Monoton', cursive;
  font-weight: 100;
  color: rgba(250, 0, 0, 1);
  margin: 15px 150px;
  display: flex;
  justify-content: center;
  align-items:center;
}

.levelFiveColorsForPlayerToPickFrom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}

.levelFiveColorsForPlayerToPickFrom li {
  font-family:'Syncopate', sans-serif;
  font-size: 20px;
  width: calc(30% - 3px);
  margin: 5px 10px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.41);
  border: 2px solid black;
}

/*PLAYER PASSED LEVEL 5*/
.playerPassedLevelFive {
  display: none;
  height: 60vh;
  border: 5px dotted black;
}

.playerWonLevelFive {
  font-family: 'Monoton', cursive;
  font-size: 40px;
  font-weight: 400;
  margin: 50px 20px 30px 20px;
  -webkit-animation-name:pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
  25% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}

@keyframes pulse {
  25% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
}

.playLevelSixButton {
  padding: 20px 40px;
  margin-top: 40px;
  background-color: rgba(255, 141, 10, 0.46);
  font-family: 'Syncopate', sans-serif;
  font-size: 25px;
  font-weight: bold;
  border: 1px solid black;
}

.playLevelSixButton:hover {
  background-color: rgba(255, 10, 218, 0.46);
}

/*LEVEL 6*/
.levelSixPage {
  display: none;
  height: 60vh;
  border: 5px dotted black;
}

/*PLAYER PASSED LEVEL 6*/
.playerPassedLevelSix {
  display: none;
  height: 60vh;
  border: 5px dotted black;
}

.playerWonLevelSix {
  font-family: 'Monoton', cursive;
  font-size: 40px;
  font-weight: 400;
  margin: 50px 20px 30px 20px;
  -webkit-animation-name:pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
  25% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}

@keyframes pulse {
  25% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
}

.overallScoreTime {
  font-family: 'Syncopate', sans-serif;
  font-size: 25px;
  margin: 10px 100px;
  padding-top: 10px;
}

/*HOMEPAGE BUTTON*/
.homepage {
  padding: 20px 40px;
  margin-top: 40px;
  background-color: rgba(255, 141, 10, 0.46);
  font-family: 'Syncopate', sans-serif;
  font-size: 25px;
  font-weight: bold;
  border: 1px solid black;
}

.homepage {
  background-color: rgba(255, 10, 218, 0.46);
}


@media only screen and (max-width: 875px) {
  body {
    background-size: cover;
  }
